body {
    font-family: 'Roboto', "Times New Roman", Arial;
    margin: 0px;
}

header,
main,
footer {
    padding: 10px 50px;
}

header,
.hero,
footer {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #F9FAF8;
    font-size: 24px;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}